<br>
<div class="container">
  <div class="row">
    <div class="col-3 detail-cols">
      <img src="https://image.tmdb.org/t/p/w500/{{movie.results.poster_path}}" height="400px">
    </div>
    <div class="col detail-cols">
      <p class="details-text"><b>Title:</b> {{movie.results.title}}</p>
      <p class="details-text"><b>Run Time:</b> {{movie.results.runtime}} mins</p>
      <p class="details-text"><b>Release Date:</b> {{niceDate movie.results.release_date}}</p>
      <p class="details-text"><b>Production Companies:</b> {{#each movie.results.production_companies}}{{name}}
        {{/each}}</p>
      <p class="details-text"><b>YouCritic Rating:</b> {{movie.rating}}</p>
      <p class="details-text"><a href="#reviews"><b>(Reviews)</b></a></p>
      <h2>Description:</h2>
      <p>
        {{movie.results.overview}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  {{#if movie.video}}
  <div class="row">
    <div class="col detail-cols" align="center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{movie.video.key}}" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  {{/if}}
  {{#if movie.recommend}}
      <div class="row">
        <div class="col-1 m-auto slide-left">
          <a class="arrow"><i class="fas fa-angle-left left-arrow"></i></a>
        </div>
        <div class="col-10 carousel-row-box align-items-center" id="0">
          <div class="carousel dragscroll" id="slide-row-0">
            <div class="carousel-row">

              {{#each movie.recommend.results}}
              <div class="carousel-tile" data-id="{{id}}" id="movie-{{id}}">
                <img data-id="{{id}}" src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="movie image" class="carousel-image"> 
                <div>{{title}}<br>
                  {{niceDate release_date}}
                </div>
              </div>
              {{/each}}

            </div>
          </div>
        </div>
        <div class="col-1 m-auto slide-right">
          <a class="arrow"><i class="fas fa-angle-right right-arrow"></i></a>
        </div>
      </div>
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  {{/if}}
  {{#if movie.review}}
  <div id="reviews" class="row justify-content-center">
    <div class="col-12">
      <h2>Reviews:{{movie.review.results.desc}}</h2>
      {{#each movie.review.reviews}}
      <div class="row review-row">
        <div class="col-8 offset-1">
          <h2>{{name}}</h2>
          {{desc}}
        </div>
        <div class="col-2">
          Rating: {{rating}}
        </div>
      </div>

      <div class="row review-row">
        <div class="col-10 offset-1">



        </div>
      </div>
      <div class="row review-row">
        <div class="col-10 offset-1">
          <hr>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
  <div class="row">
    <div class="col">
      <form name="review-form">
        <input type="text" id="reviewer-name">
        <select id="rating">
          <option value="1">1</option>
          <option value="1.5">1.5</option>
          <option value="2">2</option>
          <option value="2.5">2.5</option>
          <option value="3">3</option>
          <option value="3.5">3.5</option>
          <option value="4">4</option>
          <option value="4.5">4.5</option>
          <option value="5">5</option>
        </select>
        <textarea id="review-text"></textarea>
        <button type="submit" value="Submit">Submit Review</button>
      </form>
    </div>
  </div>
</div>
</div>