      {{#each topic}}
      <br>
      <h2>Trending Movies</h2>
      <center>
        <div class="carousel">
          <div class="carousel-row-container">
            <div class="carousel-row">
              {{#each movie}}
              <div class="carousel-tile" data-id="{{this.id}}" id="movie-{{this.id}}">
                  <img src="{{image-url}}" alt="movie image" class="carousel-image">
                <div>{{title}}<br>
                  {{release-date}}
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </center>
      {{/each}}