<br>
<h2>Search Results</h2>
<center>
  {{#each movie}}
  <div class="carousel-tile" data-id="{{id}}" id="movie-{{id}}">
    <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="movie image" class="carousel-image">
    <div>{{title}}<br>
      {{release_date}}
    </div>
  </div>
  {{/each}}
</center>